<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org"    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta charset="ISO-8859-1">
<title> Employee </title>

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>

<body>
<h2> Welcome To Employees Data Site </h2>
<hr>



		<div class="container-lg">
		
		<div>
	 <p class="text-lg-start" >	User: <span sec:authentication="name"></span></p>
		<br>
	<p class="text-lg-start">	Role(s): <span sec:authentication="principal.authorities"></span></p>
		<br><br>
	   </div>
		
		<div sec:authorize ="hasRole('MANAGER')">
			<a
			   th:href="@{/employee/showaddform}"  class="btn btn-primary"
			>Add Employee
			</a>
		</div>
		<br><br>
		
				<table class="table table-bordered table-striped ">
				
				  <thead >
				          <tr class="thead-dark">
				               <th>FirstName</th>
				               <th>LastName</th>
				               <th>Email</th>
				               
				               <th>
				                    <div sec:authorize="hasAnyRole('MANAGER' ,'ADMIN')">
				                     Action
				                    </div>  
				               </th>
				              
				          </tr>
				  </thead>
				  
				  
				  <tbody>
				  			
				  			<tr th:each ="templist : ${employee}" >
				  			    
				  			    <td th:text ="${templist.first_name}"/>
				  			    <td th:text ="${templist.last_name}"/>
				  			    <td th:text ="${templist.email}"/>
				  			    <td>
				  			        <div sec:authorize ="hasRole('MANAGER')">
				  			          <a th:href="@{/employee/showupdateform(empid=${templist.id})}"  class="btn btn-primary"> Update </a> 
				  			        </div>
				  			        
				  			        <div sec:authorize ="hasRole('ADMIN')">
				  			          <a th:href="@{/employee/delete(empid=${templist.id})}"
				  			           onclick="if (!(confirm('are you sure?'))) return false;" class="btn btn-danger"
				  			          >  Delete</a> 
				  			          
				  			        </div>
				  			    </td>
				  			 
				  			    
				  			</tr>
				  
				  </tbody>
				
				</table>
				
						
						<!-- Add a logout button -->
						<form action="#" th:action="@{/logout}" method="post">
						<input type="submit"  value="log out" class="btn btn-outline-primary mt-2" />
						</form>
		<br><br>
		</div>



</body>

</html>